
hybrid.xcodeproj/xcuserdata/ken.xcuserdatad/xcschemes/xcschememanagement.plist

hybrid.xcodeproj/project.xcworkspace/contents.xcworkspacedata

hybrid.xcodeproj/project.xcworkspace/xcuserdata/ken.xcuserdatad/WorkspaceSettings.xcsettings

hybrid.xcodeproj/xcuserdata/ken.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

hybrid.xcodeproj/xcuserdata/ken.xcuserdatad/xcschemes/hybrid.xcscheme
