/* CSS Document */
body, ul, p {
  padding: 0px;
  margin: 0px; }

ol, ul, li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

a:hover, *:hover {
  outline: none; }

.hide {
  display: none !important; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  padding: 0px;
  margin: 0px; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.tradeRecords h5 {
  float: left;
  display: inline-block; }
.tradeRecords header {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 49px;
  background: #f2f2f2;
  font-size: 13px;
  line-height: 49px;
  border-bottom: 1px solid white;
  cursor:pointer;
}
  .tradeRecords header i {
    height: 7px;
    width: 12px;
    background: url(../img/tradeRecord/downArrow.png);
    background-size: 100% 100%;
    margin-top: 20px;
    margin-left: 8px; 
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	}
  .tradeRecords header span {
    float: right;
    color: #797979; }
.tradeRecords .monthTradeRecords {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .tradeRecords .monthTradeRecords li {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3; }
    .tradeRecords .monthTradeRecords li div:first-child {
      width: 100%;
      height: 20px;
      line-height: 20px;
      margin-bottom: 8px;
      font-size: 16px; }
      .tradeRecords .monthTradeRecords li div:first-child .payWay {
        font-size: 12px;
        color: #c0c0c0; }
    .tradeRecords .monthTradeRecords li div:last-child {
      height: 14px;
      font-size: 13px;
      color: #b1b1b1; }
  .tradeRecords .monthTradeRecords div.income {
    color: #1ba900; }
    .tradeRecords .monthTradeRecords div.income .payWay {
      display: inline-block; }
  .tradeRecords .monthTradeRecords div.outlay {
    color: #000; }
    .tradeRecords .monthTradeRecords div.outlay .payWay {
      display: none; }
    .tradeRecords .monthTradeRecords div.outlay .tradeMoneyNumber {
      color: #fe6e00; }
.tradeRecords li:last-child {
  border-bottom: 0; }
.tradeRecords p {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 100px; }

section.upgradeRule {
  padding: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  section.upgradeRule h3 {
    margin: 0 0;
    font-size: 15px; }
  section.upgradeRule ul {
    padding: 12px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
    section.upgradeRule ul li {
      width: 100%;
      line-height: 22px;
      font-size: 13px;
      color: #4c4c4c; }

div.listth {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  border-bottom: 1px solid #e3e3e3; }

ul.discountLevel {
  padding: 0 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  ul.discountLevel li {
    height: 14px;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid #e3e3e3; }
    ul.discountLevel li img {
      height: 14px;
      float: left; }
    ul.discountLevel li p {
      height: 14px;
      float: left;
      margin-left: 5px; }

@keyframes rotateToUp
{
from {transform: rotate(0deg);}
to {transform: rotate(180deg);}
}

@-webkit-keyframes rotateToUp
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(180deg);}
}

@keyframes rotateToDown
{
from {transform: rotate(180deg);}
to {transform: rotate(0deg);}
}

@-webkit-keyframes rotateToDown
{
from {-webkit-transform: rotate(180deg);}
to {-webkit-transform: rotate(0deg);}
}

/*# sourceMappingURL=common.css.map */
